<h1>Здравейте от Rails @ <%= link_to 'space.bg', 'http://space.bg' %></h1>

<ul>
	<li>Версия на Ruby: <strong><%= RUBY_VERSION %></strong></li>
	<li>Версия на Rails: <strong><%= Rails.version %></strong></li>
</ul>

<p><small>Генерирано на <%= @today %></small></p>
